.slide{
  padding-left: 30px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}

.button
{

  
}
.active-slide{
  padding-left: 50px;
  opacity: 1;
  z-index: 2;
}

}
.quiz-container{
  padding-left: 50px;
  position: relative;
  height: 250px;
  margin-top: 40px;
}

.radio {
  font-family: helvetica;
  font-size: 12px;

}
modal-header {
  background-color: black;
  color: white;
}

modal-body {
  background-color: white;
  height: 500px;

}
h2 {
  font-size: 24x;
  font-style: normal;
  font-family: georgia, times, serif;
  weight: 400;
